@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* sempre colcar no começo de todos css margin e padding */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

html{
  scroll-behavior: smooth;
}