<!DOCTYPE html>
<html lang='pt-br'>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Portfólio</title>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
   </head>
   <body>
      
      <nav>
         <ul>
            <li><a href="#inicio">Início</a></li>
            <li><a href="#sobre-mim">Sobre mim</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#contato">Contato</a></li>
         </ul>
      </nav>

      <header id="inicio">
         <h1>Hello! I'm Ana.</h1>
      </header>

      <section id="sobre-mim">
         <h2>Sobre mim</h2>
         <div>
            <img src="../static/img/perfilq.png" alt="Foto perfil da Ana">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, corrupti libero. Doloribus qui quasi error dicta omnis reiciendis quas et, amet at aut non perspiciatis sequi animi nostrum nesciunt voluptas quis voluptate, excepturi distinctio. Ex mollitia eum ab harum deserunt animi similique quas officia, enim sit quos aspernatur eveniet accusamus quia molestias. Adipisci quisquam labore praesentium. Minus vel mollitia ipsa, assumenda ab unde fuga quo maxime vero animi accusantium atque.</p>
         </div>
      </section>

      <section id="projetos">
         <h2>Projetos</h2>
         <div id="bloco-projeto">
            <div>
               <img src="../static/img/face.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>

            <div>
               <img src="../static/img/portfolio.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>

            <div>
               <img src="../static/img/crime-scene.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>

            <div>
               <img src="../static/img/vote.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>

            <div>
               <img src="../static/img/jokenpo.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>

            <div>
               <img src="../static/img/choice.png" alt="">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt dolores distinctio harum hic ex corrupti.</p>
               <a href="https://github.com/GarconeAna" target="_blank"><button>Saiba mais</button></a>
            </div>
         </div>
      </section>

      <section id="habilidades">
         <h2>Habilidades</h2>
         <p>Python</p>
         <div>
            <span id="python">80%</span>
         </div>

         <p>Git e GitHub</p>
         <div>
            <span id="git-github">60%</span>
         </div>

         <p>HTML 5</p>
         <div>
            <span id="html">60%</span>
         </div>

         <p>CSS 3</p>
         <div>
            <span id="css">40%</span>
         </div>

         <p>JavaScript</p>
         <div>
            <span id="javascript">20%</span>
         </div>

      </section>

      <section id="contato">
         <h2>Contato</h2>
         <div id="icons">
            <a href="" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
   
            <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
   
            <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="" target="_blank"> <i class="fa fa-spotify" aria-hidden="true"></i></a>
         </div>

         <div>
            <form action="/send" method="POST">
               <label for="nome">Nome</label>
               <input id="nome" name="nome" type="text">
   
               <label for="email">E-mail</label>
               <input type="email" id="email" name="email">
   
               <label for="mensagem">Mensagem</label>
               <textarea name="mensagem" id="mensagem" cols="10" rows="5"></textarea>
   
               <button type="submit" id="enviar">Enviar</button>
            </form>
         </div>
      </section>

      <footer>

      </footer>

      <script src="../static/js/script.js"></script>
   </body>
</html>