<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/send.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Ana Carolina|Send</title>
</head>
<body>
  <section id='success'>
    <div id="card">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <h1>Olá {{formContato.nome}}, sua mensagem foi enviada com sucesso!</h1>
      <h3>Mensagem:</h3>
      <p>{{formContato.mensagem}}</p>
      <a href="/">Voltar</a>
    </div>
  </section>

  <script>
    setTimeout(() => { 
      window.location.href = '/' 
    },10000) 
 </script>
</body>
</html>